/////////////////////////
// APP
/////////////////////////

html,body {
    background-color:@light-bg;
}

#root {
    position:relative;
    height:100%;
}

/////////////////////////
// LAYOUT
/////////////////////////

.ant-layout-header,
.ant-layout-content {
    width:500px;
    max-width:100%;
    margin:0 auto;
}

.ant-layout-header {
    padding:0 10px;
}

/////////////////////////
// HEADINGS
/////////////////////////

h1,h2 {
    padding:0 10px;
    font-weight:200;
}

.app-heading {
    margin-left:7px;
    font-size:18px;
    display:inline-block;
    position:relative; top:2px;
    line-height:2;
    font-weight:100;
    &-menu {
        float:right;
        position: relative;
        top: 2px;
    }
    &-menu-popover {
        text-align:center;
        .ant-btn > .anticon + span {margin:0;}
        & > div {
            border-bottom:1px solid rgba(0,0,0,.05);
            padding-bottom:8px; margin-bottom:8px;
            &:last-child {border:0;padding:0;margin:0;}
        }
    }
    &-menu-button {
        opacity:.4;
        &:hover {opacity:1;}
    }
}

.ant-badge-count {
    top: -3px;
    height: 12px;
    border-radius: 10px;
    min-width: 12px;
    background: #f5222d;
    line-height: 12px;
    padding: 0 3px;
    font-size: 8px;
}

.show-history {
    &-word {
        font-size:11px;
        color:@primary-color;
        position:relative;
        margin-left:5px;
    }
}

/////////////////////////
// LOGIN PAGE
/////////////////////////

.google-login-button {
    background:url('img/btn_google_signin_light_normal_web@2x.png') no-repeat;
    background-size:cover;
    width:191px;
    height:46px;
    border:none;
    cursor:pointer;
    text-indent:120%;
    white-space:nowrap;
    overflow:hidden;
}

/////////////////////////
// ITEMS
/////////////////////////

.item-list {
    list-style-type:none;
    padding:0 20px;
}
